body {
    height: 100%;
    margin: 0;
    background-color: #FFC37C;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bilder/green-goddess-sandwiches-healthy-lunch-recipes-6552ad3197eef.avif"); /* Her legger det er bilde i bakgrunnen til siden og jeg har puttet inn en mørk farge som gjøre at bilden blir mørkere. */
    background-repeat: repeat-x; /* Her gjør at bildet repteres seg ved x-aksen til siden. */
    height: 825px; /* Her bestemmer jeg størrelsen til bildet */
    background-position: center; /* Bildet blir mer på mitten */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Dette er viktig for knappen skal være toppen til venstre med hjelp av position: absolute i .buttonhover */
}

.meny-bakgrunn {
    position: absolute; /* Dette gjør at hero-text ikke komme seg helt til høyre på siden */
    top: 0; /* Det gjør st bildet er helt på toppen */
}

.buttonhover {
    position: absolute; /* Dette gjør at det blir en link toppen til venstre i bildet og som jeg sagt i de forrige komertaene */
    top: 20px;
    left: 20px;
    color: white;
    font-size: 40px;
    
}

/* Dette gjør at når du har musen over knappen vil du se det endre bakgrunnen til oransje */
.buttonhover:hover {  
    background-color: #FFC37C;
    color: white;
}

.hero-text {
    color: white;
    font-size: 40px;
}

.hero-text h1 {
    text-align: center;
}