body {
    height: 100%;
    margin: 0;
    background-color: #FFC37C;
}

.title {
    position: absolute;
    top: 0;
    left: 80px;
    color: #f79012;
    transition: 0.5s;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bilder/green-goddess-sandwiches-healthy-lunch-recipes-6552ad3197eef.avif"); /* Her legger det er bilde i bakgrunnen til siden og jeg har puttet inn en mørk farge som gjøre at bilden blir mørkere. */
    background-repeat: repeat-x; /* Her gjør at bildet repteres seg ved x-aksen til sidene av bildet. */
    height: 825px; /* Her bestemmer jeg størrelsen til bildet */
    background-position: center; /* Bildet blir mer på mitten */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Dette er viktig for knappen skal være toppen til venstre med hjelp av position: absolute i .buttonhover og for .meny-bakgrunn. */
}

.meny-bakgrunn {
    position: absolute; /* Dette gjør at hero-text ikke komme seg helt til høyre på siden */
    top: 0; /* Det gjør st bildet er helt på toppen */
}

.menu {
    position: absolute; /* Dette gjør at det blir en link toppen til venstre i bildet og som jeg sagt i de forrige komertaene */
    top: 15px;
    left: 20px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 { /* Dette lager tre strekker på toppen til venstre har en transition som gj */
    width: 35px;
    height: 5px;
    background-color: #f79012;
    margin: 8px;
    transition: 0.4s;
}

.bar1:hover, .bar2:hover, .bar3:hover {
    background-color: #f5b668;
}

.dropdown {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#f5b668;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.dropdown img {
    margin: 8px;
    text-decoration: none;
    font-size: 20px;
}

.dropdown a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    transition: 0.3s;
}

.dropdown a:hover {
    color: #FFC37C;
}

#main { /* Dette gjør transformeringen smooth og ikke hakkete  */
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) { /* Dette gjør at den tilpasser for de som har små skjermer */
    .dropdown {padding-top: 15px;}
    .dropdown a {font-size: 18px;}
    .dropdown img {font-size: 2px;}
}

/* Dette gjør at når du har musen over knappen vil du se det endre bakgrunnen til oransje. */
.buttonhover:hover {  
    background-color: #FFC37C;
    color: white;
}

.login {
    position: absolute;
    top: 20px;
    right: 10px;
}

.login a {
    color:#f79012;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
}

.account {
    margin: 40px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.hero-text {
    color: white;
    font-size: 40px;
}

.hero-text h1 {
    text-align: center;
}

.nederst-bakgrunn {
    top: 175px;
    transform: rotate(180deg);
    position: absolute;
}

.article {
    margin: 50px;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.table {
    margin: 50px;
    margin-top: 80px;
    background-color: white;
    transition: 0.5s;
}

.article h2 {
    padding: 10px;
}

.article p {
    padding: 10px;
    font-size: 20px;
}

.link {
    margin: 0px auto;
    text-align: center;
}

a.link {
    display: block;
}

.button {
    color: black;
    font-size: 40px;
}

.button:hover{
    background-color: #FFC37C;
    color: black;
}

table {
    border-collapse: collapse; /* For at ikke boksene ser ut som det er fra hverandre */
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

@media screen and (max-height: 450px) {  
    .table {margin: 25px;}
    table {margin: 25px;}
    table {margin-top: 25px;}
    td {font-size: 18px;}
    th {font-size: 18px;}
}

footer {
    background-color: orange;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.menynede a {
    color:#ffffff;
    padding: 10px;
    font-size: 30px;
}